****Uni Solar****

import

In [97]:
import pandas as pd
from pathlib import Path

*Pre-Processing*

combine Solar_Energy_Generation + Solar_Site_Details

In [98]:
### File Import Logic ###

# filenames to load
fname1 = 'Solar_Energy_Generation.csv'
fname2 = 'Solar_Site_Details.csv'
fname3 = 'Weather_Data_reordered_all.csv'
fname4 = 'Monthly_Summary_Solar.csv'

# show current working directory for debugging
cwd = Path().resolve()
print("Current working directory:", cwd)

# search for the files in cwd and subdirectories
def find_file(fname, start=cwd):
	matches = list(start.rglob(fname))
	return matches[0] if matches else None

path1 = find_file(fname1)
path2 = find_file(fname2)
path3 = find_file(fname3)
path4 = find_file(fname4)

if path1 is None or path2 is None:
	missing = [n for n, p in [(fname1, path1), (fname2, path2), (fname3, path3), (fname4, path4)] if p is None]
	raise FileNotFoundError(
		f"Could not find file(s): {missing}. "
		"Place them in the notebook directory (shown above) or a subfolder, or provide the correct path."
	)

solar_generation = pd.read_csv(path1)
solar_site = pd.read_csv(path2)
weather_data = pd.read_csv(path3)
monrthly_summary = pd.read_csv(path4)

print("Loaded files:", path1, path2, path3, path4)

Current working directory: C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict
Loaded files: C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Solar_Energy_Generation.csv C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Solar_Site_Details.csv C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Weather_Data_reordered_all.csv C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Monthly_Summary_Solar.csv
Loaded files: C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Solar_Energy_Generation.csv C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Solar_Site_Details.csv C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Weather_Data_reordered_all.csv C:\Users\ASUS\Documents\Semester5\MachineLearning\ALP_Unisolar_Predict\unisolar\Monthly_Summary_Solar.csv

In [99]:
#load solar generation data
solar_generation.head(30)

#campusKey, siteKey, timestamp, solargeneration

    CampusKey  SiteKey            Timestamp  SolarGeneration
0           2        1  2020-01-01 00:15:00              NaN
1           2        1  2020-01-01 00:30:00              NaN
2           2        1  2020-01-01 00:45:00              NaN
3           2        1  2020-01-01 01:00:00              NaN
4           2        1  2020-01-01 01:15:00              NaN
5           2        1  2020-01-01 01:30:00              NaN
6           2        1  2020-01-01 01:45:00              NaN
7           2        1  2020-01-01 02:00:00              NaN
8           2        1  2020-01-01 02:15:00              NaN
9           2        1  2020-01-01 02:30:00              NaN
10          2        1  2020-01-01 02:45:00              NaN
11          2        1  2020-01-01 03:00:00              NaN
12          2        1  2020-01-01 03:15:00              NaN
13          2        1  2020-01-01 03:30:00              NaN
14          2        1  2020-01-01 03:45:00              NaN
15          2        1  2020-01-01 04:00:00              NaN
16          2        1  2020-01-01 04:15:00              NaN
17          2        1  2020-01-01 04:30:00              NaN
18          2        1  2020-01-01 04:45:00              NaN
19          2        1  2020-01-01 05:00:00              NaN
20          2        1  2020-01-01 05:15:00              NaN
21          2        1  2020-01-01 05:30:00              NaN
22          2        1  2020-01-01 05:45:00              NaN
23          2        1  2020-01-01 06:00:00              NaN
24          2        1  2020-01-01 06:15:00            0.135
25          2        1  2020-01-01 06:30:00            0.465
26          2        1  2020-01-01 06:45:00            1.039
27          2        1  2020-01-01 07:00:00            1.673
28          2        1  2020-01-01 07:15:00            2.560
29          2        1  2020-01-01 07:30:00            3.553

In [100]:
#load site details data
solar_site.head(30)

#campusKey, siteKey, kwp, nuberOfPanels, panel, 
#inverter, optimizers, metric, latitude, longitude

,CampusKey,SiteKey,kWp,Number of panels,Panel,Inverter,Optimizers,Metric,lat,Lon
0,2,1,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
1,2,2,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
3,2,4,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
4,2,5,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
5,3,6,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
6,3,7,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
7,3,8,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
8,3,9,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
9,3,10,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
10,3,11,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
11,3,12,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
12,3,13,NaN,NaN,NaN,NaN,NaN,NaN,-36.778858,144.301232
13,1,14,66.00,200.00,Trina 330W,2 x SolarEdge SE27.6K,100 x P730,kWh,-37.718287,145.050975
14,1,15,94.24,304.00,Trina 310W,1 x SolarEdge SE82.8K,152 x P700,kWh,-37.718287,145.050975
15,1,16,30.00,115.38,TBD,SMA,NaN,kWh,-37.718287,145.050975
16,1,17,45.26,146.00,Trina 310W,1 x SolarEdge SE25K + 1 x SolarEdge SE15K,77 x P730,kWh,-37.718287,145.050975
17,1,18,167.97,509.00,Trina 330W,3 x SolarEdge SE50K,255 x P730,kWh,-37.718287,145.050975
18,1,19,34.32,104.00,Trina 330W,1 x SolarEdge SE27.6K,53 x P700,kWh,-37.718287,145.050975
19,1,20,77.22,234.00,Trina 330W,2 x SolarEdge SE25K + 1 x SolarEdge SE15K,117 x P730,kWh,-37.718287,145.050975
20,1,21,39.27,119.00,Trina 330W,2 x SolarEdge SE17K,61 x P730,kWh,-37.718287,145.050975
21,1,22,72.27,219.00,Trina 330W,1 x SolarEdge SE82.8K,110 x P730,kWh,-37.718287,145.050975
22,1,23,58.90,190.00,Trina 310W,1 x SolarEdge SE50K,97 x P700,kWh,-37.718287,145.050975
23,1,24,40.26,122.00,Trina 330W,1 x SolarEdge SE82.8K,61 x P730,kWh,-37.718287,145.050975
24,1,25,384.12,1164.00,Trina 330W,4 x SolarEdge SE82.8K,584 x P730,kWh,-37.718287,145.050975
25,1,26,38.94,118.00,Trina 330W,1 x SolarEdge SE17K + 1 x SolarEdge SE15K,59 x P730,kWh,-37.718287,145.050975
26,1,27,539.80,1240.92,SunpowerSPR-E20-435-COM,5 X ABB,NaN,kWh,-37.718287,145.050975
27,1,28,NaN,NaN,NaN,NaN,NaN,NaN,-37.718287,145.050975
28,1,29,NaN,NaN,NaN,NaN,NaN,NaN,-37.718287,145.050975
29,1,30,42.16,136.00,Trina 310W,2 x SolarEdge SE17K,74 x P700,kWh,-37.718287,145.050975

In [101]:
#load weather data
weather_data.head(30)

,CampusKey,Timestamp,ApparentTemperature,AirTemperature,DewPointTemperature,RelativeHumidity,WindSpeed,WindDirection
0,1,2020-01-01 00:00:00,13.666667,13.880000,8.960000,72.400000,0.000000,188.133333
1,1,2020-01-01 00:15:00,13.206667,13.666667,9.040000,73.466667,1.200000,203.866667
2,1,2020-01-01 00:30:00,12.840000,13.553333,9.053333,74.000000,2.520000,222.800000
3,1,2020-01-01 00:45:00,12.113333,13.506667,9.100000,74.466667,5.986667,231.133333
4,1,2020-01-01 01:00:00,11.946667,13.260000,9.266667,76.533333,5.946667,247.866667
5,1,2020-01-01 01:15:00,12.413333,12.593333,9.133333,79.533333,0.000000,246.800000
6,1,2020-01-01 01:30:00,12.733333,12.833333,9.433333,80.000000,0.000000,247.133333
7,1,2020-01-01 01:45:00,12.860000,12.960000,9.473333,79.466667,0.000000,247.933333
8,1,2020-01-01 02:00:00,11.826667,12.900000,9.486667,79.866667,5.306667,253.733333
9,1,2020-01-01 02:15:00,11.506667,12.746667,9.440000,80.466667,5.840000,254.000000
10,1,2020-01-01 02:30:00,11.940000,12.700000,9.580000,81.400000,3.800000,254.400000
11,1,2020-01-01 02:45:00,12.206667,12.333333,9.400000,82.333333,0.000000,254.600000
12,1,2020-01-01 03:00:00,11.433333,12.173333,9.953333,86.333333,3.960000,254.266667
13,1,2020-01-01 03:15:00,11.520000,11.966667,9.746667,86.266667,2.160000,250.733333
14,1,2020-01-01 03:30:00,11.226667,11.293333,9.606667,89.266667,0.000000,250.000000
15,1,2020-01-01 03:45:00,11.300000,11.326667,9.793333,90.266667,0.000000,250.000000
16,1,2020-01-01 04:00:00,10.620000,10.960000,9.260000,89.000000,0.840000,240.733333
17,1,2020-01-01 04:15:00,10.713333,11.060000,9.200000,88.200000,0.960000,98.000000
18,1,2020-01-01 04:30:00,10.493333,10.746667,8.900000,88.266667,0.000000,98.000000
19,1,2020-01-01 04:45:00,10.020000,10.280000,8.826667,90.733333,0.000000,98.000000
20,1,2020-01-01 05:00:00,9.546667,9.746667,8.993333,95.066667,0.000000,98.000000
21,1,2020-01-01 05:15:00,8.126667,9.206667,9.106667,99.000000,4.466667,69.133333
22,1,2020-01-01 05:30:00,8.293333,8.966667,8.866667,99.000000,2.120000,12.000000
23,1,2020-01-01 05:45:00,8.093333,8.680000,8.580000,99.000000,1.200000,11.133333
24,1,2020-01-01 06:00:00,8.153333,8.566667,8.466667,99.000000,0.000000,11.000000
25,1,2020-01-01 06:15:00,8.253333,8.626667,8.526667,99.000000,0.000000,11.000000
26,1,2020-01-01 06:30:00,7.306667,8.533333,8.433333,99.000000,4.293333,11.000000
27,1,2020-01-01 06:45:00,7.220000,8.806667,8.706667,99.000000,6.573333,11.000000
28,1,2020-01-01 07:00:00,8.733333,9.426667,8.840000,96.266667,2.333333,11.000000
29,1,2020-01-01 07:15:00,9.380000,10.260000,9.013333,92.000000,3.413333,10.266667

In [102]:
#load monthly summary data
monrthly_summary.head(30)

,SiteKey,Year,Month,DataStatus,AverageSolarGeneration,MaxSolarGeneration,MinSolarGeneration
0,1,2020,January,True,10.157125,21.77800,0.10100
1,2,2020,January,True,8.536875,18.55300,0.10000
2,3,2020,January,True,6.309834,13.32200,0.10300
3,4,2020,January,False,NaN,NaN,NaN
4,5,2020,January,False,NaN,NaN,NaN
5,6,2020,January,False,NaN,NaN,NaN
6,7,2020,January,True,7.103033,16.03120,0.12500
7,8,2020,January,False,NaN,NaN,NaN
8,9,2020,January,True,1.109013,2.00800,0.10100
9,10,2020,January,True,4.159587,7.74800,0.10000
10,11,2020,January,False,NaN,NaN,NaN
11,12,2020,January,True,8.463341,17.59370,0.12500
12,13,2020,January,True,4.598804,8.84380,0.10930
13,14,2020,January,False,NaN,NaN,NaN
14,15,2020,January,False,NaN,NaN,NaN
15,16,2020,January,False,NaN,NaN,NaN
16,17,2020,January,False,NaN,NaN,NaN
17,18,2020,January,False,NaN,NaN,NaN
18,19,2020,January,False,NaN,NaN,NaN
19,20,2020,January,False,NaN,NaN,NaN
20,21,2020,January,False,NaN,NaN,NaN
21,22,2020,January,False,NaN,NaN,NaN
22,23,2020,January,False,NaN,NaN,NaN
23,24,2020,January,False,NaN,NaN,NaN
24,25,2020,January,False,NaN,NaN,NaN
25,26,2020,January,False,NaN,NaN,NaN
26,27,2020,January,True,40.306855,99.07031,0.10156
27,28,2020,January,False,NaN,NaN,NaN
28,29,2020,January,False,NaN,NaN,NaN
29,30,2020,January,False,NaN,NaN,NaN

In [103]:
# tujuan penggabungan (merge) di tahap awal ini, yaitu untuk melekatkan kapasitas (kWp) 
# dan lokasi ke data pembangkitan energi, kolom-kolom tersebut (siteKey, kWp, lat, dan Lon)

#details
keep_details_col = ['SiteKey', 'kWp', 'lat', 'Lon']
df_clean_details = solar_site[keep_details_col].drop_duplicates(subset=['SiteKey'], keep='first').copy()

#merge generation with details
df_gen_details = pd.merge(solar_generation, df_clean_details, 
                          on='SiteKey',
                          how='left') # Menggunakan left join untuk mempertahankan semua data generation/details

#change col name
df_gen_details.rename(columns={'lat':'latitude', 'Lon':'longitude'}, inplace=True)

In [104]:
df_gen_details.head(30)

,CampusKey,SiteKey,Timestamp,SolarGeneration,kWp,latitude,longitude
0,2,1,2020-01-01 00:15:00,NaN,NaN,-36.111209,146.848679
1,2,1,2020-01-01 00:30:00,NaN,NaN,-36.111209,146.848679
2,2,1,2020-01-01 00:45:00,NaN,NaN,-36.111209,146.848679
3,2,1,2020-01-01 01:00:00,NaN,NaN,-36.111209,146.848679
4,2,1,2020-01-01 01:15:00,NaN,NaN,-36.111209,146.848679
5,2,1,2020-01-01 01:30:00,NaN,NaN,-36.111209,146.848679
6,2,1,2020-01-01 01:45:00,NaN,NaN,-36.111209,146.848679
7,2,1,2020-01-01 02:00:00,NaN,NaN,-36.111209,146.848679
8,2,1,2020-01-01 02:15:00,NaN,NaN,-36.111209,146.848679
9,2,1,2020-01-01 02:30:00,NaN,NaN,-36.111209,146.848679
10,2,1,2020-01-01 02:45:00,NaN,NaN,-36.111209,146.848679
11,2,1,2020-01-01 03:00:00,NaN,NaN,-36.111209,146.848679
12,2,1,2020-01-01 03:15:00,NaN,NaN,-36.111209,146.848679
13,2,1,2020-01-01 03:30:00,NaN,NaN,-36.111209,146.848679
14,2,1,2020-01-01 03:45:00,NaN,NaN,-36.111209,146.848679
15,2,1,2020-01-01 04:00:00,NaN,NaN,-36.111209,146.848679
16,2,1,2020-01-01 04:15:00,NaN,NaN,-36.111209,146.848679
17,2,1,2020-01-01 04:30:00,NaN,NaN,-36.111209,146.848679
18,2,1,2020-01-01 04:45:00,NaN,NaN,-36.111209,146.848679
19,2,1,2020-01-01 05:00:00,NaN,NaN,-36.111209,146.848679
20,2,1,2020-01-01 05:15:00,NaN,NaN,-36.111209,146.848679
21,2,1,2020-01-01 05:30:00,NaN,NaN,-36.111209,146.848679
22,2,1,2020-01-01 05:45:00,NaN,NaN,-36.111209,146.848679
23,2,1,2020-01-01 06:00:00,NaN,NaN,-36.111209,146.848679
24,2,1,2020-01-01 06:15:00,0.135,NaN,-36.111209,146.848679
25,2,1,2020-01-01 06:30:00,0.465,NaN,-36.111209,146.848679
26,2,1,2020-01-01 06:45:00,1.039,NaN,-36.111209,146.848679
27,2,1,2020-01-01 07:00:00,1.673,NaN,-36.111209,146.848679
28,2,1,2020-01-01 07:15:00,2.560,NaN,-36.111209,146.848679
29,2,1,2020-01-01 07:30:00,3.553,NaN,-36.111209,146.848679

In [105]:
df_gen_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731946 entries, 0 to 2731945
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   CampusKey        int64
 1   SiteKey          int64
 2   Timestamp        object
 3   SolarGeneration  float64
 4   kWp              float64
 5   latitude         float64
 6   longitude        float64
dtypes: float64(4), int64(2), object(1)
memory usage: 145.9+ MB

In [106]:
#standardize timestamp df_gen_details
df_gen_details['Timestamp'] = pd.to_datetime(df_gen_details['Timestamp'], format='%Y-%m-%d %H:%M:%S').dt.floor('15min')
#dt floor 15min untuk pastikan timestamp konsisten di setiap 15 menit
df_gen_details.head(30)

,CampusKey,SiteKey,Timestamp,SolarGeneration,kWp,latitude,longitude
0,2,1,2020-01-01 00:15:00,NaN,NaN,-36.111209,146.848679
1,2,1,2020-01-01 00:30:00,NaN,NaN,-36.111209,146.848679
2,2,1,2020-01-01 00:45:00,NaN,NaN,-36.111209,146.848679
3,2,1,2020-01-01 01:00:00,NaN,NaN,-36.111209,146.848679
4,2,1,2020-01-01 01:15:00,NaN,NaN,-36.111209,146.848679
5,2,1,2020-01-01 01:30:00,NaN,NaN,-36.111209,146.848679
6,2,1,2020-01-01 01:45:00,NaN,NaN,-36.111209,146.848679
7,2,1,2020-01-01 02:00:00,NaN,NaN,-36.111209,146.848679
8,2,1,2020-01-01 02:15:00,NaN,NaN,-36.111209,146.848679
9,2,1,2020-01-01 02:30:00,NaN,NaN,-36.111209,146.848679
10,2,1,2020-01-01 02:45:00,NaN,NaN,-36.111209,146.848679
11,2,1,2020-01-01 03:00:00,NaN,NaN,-36.111209,146.848679
12,2,1,2020-01-01 03:15:00,NaN,NaN,-36.111209,146.848679
13,2,1,2020-01-01 03:30:00,NaN,NaN,-36.111209,146.848679
14,2,1,2020-01-01 03:45:00,NaN,NaN,-36.111209,146.848679
15,2,1,2020-01-01 04:00:00,NaN,NaN,-36.111209,146.848679
16,2,1,2020-01-01 04:15:00,NaN,NaN,-36.111209,146.848679
17,2,1,2020-01-01 04:30:00,NaN,NaN,-36.111209,146.848679
18,2,1,2020-01-01 04:45:00,NaN,NaN,-36.111209,146.848679
19,2,1,2020-01-01 05:00:00,NaN,NaN,-36.111209,146.848679
20,2,1,2020-01-01 05:15:00,NaN,NaN,-36.111209,146.848679
21,2,1,2020-01-01 05:30:00,NaN,NaN,-36.111209,146.848679
22,2,1,2020-01-01 05:45:00,NaN,NaN,-36.111209,146.848679
23,2,1,2020-01-01 06:00:00,NaN,NaN,-36.111209,146.848679
24,2,1,2020-01-01 06:15:00,0.135,NaN,-36.111209,146.848679
25,2,1,2020-01-01 06:30:00,0.465,NaN,-36.111209,146.848679
26,2,1,2020-01-01 06:45:00,1.039,NaN,-36.111209,146.848679
27,2,1,2020-01-01 07:00:00,1.673,NaN,-36.111209,146.848679
28,2,1,2020-01-01 07:15:00,2.560,NaN,-36.111209,146.848679
29,2,1,2020-01-01 07:30:00,3.553,NaN,-36.111209,146.848679

In [107]:
#standardize timestamp weather data
weather_data['Timestamp'] = pd.to_datetime(weather_data['Timestamp'], format='%Y-%m-%d %H:%M:%S').dt.floor('15min')

weather_data.head(30)

,CampusKey,Timestamp,ApparentTemperature,AirTemperature,DewPointTemperature,RelativeHumidity,WindSpeed,WindDirection
0,1,2020-01-01 00:00:00,13.666667,13.880000,8.960000,72.400000,0.000000,188.133333
1,1,2020-01-01 00:15:00,13.206667,13.666667,9.040000,73.466667,1.200000,203.866667
2,1,2020-01-01 00:30:00,12.840000,13.553333,9.053333,74.000000,2.520000,222.800000
3,1,2020-01-01 00:45:00,12.113333,13.506667,9.100000,74.466667,5.986667,231.133333
4,1,2020-01-01 01:00:00,11.946667,13.260000,9.266667,76.533333,5.946667,247.866667
5,1,2020-01-01 01:15:00,12.413333,12.593333,9.133333,79.533333,0.000000,246.800000
6,1,2020-01-01 01:30:00,12.733333,12.833333,9.433333,80.000000,0.000000,247.133333
7,1,2020-01-01 01:45:00,12.860000,12.960000,9.473333,79.466667,0.000000,247.933333
8,1,2020-01-01 02:00:00,11.826667,12.900000,9.486667,79.866667,5.306667,253.733333
9,1,2020-01-01 02:15:00,11.506667,12.746667,9.440000,80.466667,5.840000,254.000000
10,1,2020-01-01 02:30:00,11.940000,12.700000,9.580000,81.400000,3.800000,254.400000
11,1,2020-01-01 02:45:00,12.206667,12.333333,9.400000,82.333333,0.000000,254.600000
12,1,2020-01-01 03:00:00,11.433333,12.173333,9.953333,86.333333,3.960000,254.266667
13,1,2020-01-01 03:15:00,11.520000,11.966667,9.746667,86.266667,2.160000,250.733333
14,1,2020-01-01 03:30:00,11.226667,11.293333,9.606667,89.266667,0.000000,250.000000
15,1,2020-01-01 03:45:00,11.300000,11.326667,9.793333,90.266667,0.000000,250.000000
16,1,2020-01-01 04:00:00,10.620000,10.960000,9.260000,89.000000,0.840000,240.733333
17,1,2020-01-01 04:15:00,10.713333,11.060000,9.200000,88.200000,0.960000,98.000000
18,1,2020-01-01 04:30:00,10.493333,10.746667,8.900000,88.266667,0.000000,98.000000
19,1,2020-01-01 04:45:00,10.020000,10.280000,8.826667,90.733333,0.000000,98.000000
20,1,2020-01-01 05:00:00,9.546667,9.746667,8.993333,95.066667,0.000000,98.000000
21,1,2020-01-01 05:15:00,8.126667,9.206667,9.106667,99.000000,4.466667,69.133333
22,1,2020-01-01 05:30:00,8.293333,8.966667,8.866667,99.000000,2.120000,12.000000
23,1,2020-01-01 05:45:00,8.093333,8.680000,8.580000,99.000000,1.200000,11.133333
24,1,2020-01-01 06:00:00,8.153333,8.566667,8.466667,99.000000,0.000000,11.000000
25,1,2020-01-01 06:15:00,8.253333,8.626667,8.526667,99.000000,0.000000,11.000000
26,1,2020-01-01 06:30:00,7.306667,8.533333,8.433333,99.000000,4.293333,11.000000
27,1,2020-01-01 06:45:00,7.220000,8.806667,8.706667,99.000000,6.573333,11.000000
28,1,2020-01-01 07:00:00,8.733333,9.426667,8.840000,96.266667,2.333333,11.000000
29,1,2020-01-01 07:15:00,9.380000,10.260000,9.013333,92.000000,3.413333,10.266667

final merging data

In [108]:
# Gabungkan df_intermediate dengan df_weather menggunakan CampusKey dan Timestamp
df_final = pd.merge(df_gen_details, weather_data,
                           on=['CampusKey', 'Timestamp'],
                           how='left') # Menggunakan left join untuk mempertahankan semua data generation/details

df_final.head(100)

#campusKey, siteKey, timestamp, solargeneration, kWp, latitude, longitude,
#apparentTemperature, Airtemperature, dewpointtemperature, relatifhumidity
#windspeed, winddirection

,CampusKey,SiteKey,Timestamp,SolarGeneration,kWp,latitude,longitude,ApparentTemperature,AirTemperature,DewPointTemperature,RelativeHumidity,WindSpeed,WindDirection
0,2,1,2020-01-01 00:15:00,NaN,NaN,-36.111209,146.848679,18.560000,20.300000,9.600000,50.266667,8.680000,152.666667
1,2,1,2020-01-01 00:30:00,NaN,NaN,-36.111209,146.848679,18.146667,19.840000,9.340000,50.666667,7.933333,157.533333
2,2,1,2020-01-01 00:45:00,NaN,NaN,-36.111209,146.848679,18.140000,19.886667,9.486667,51.000000,8.440000,147.600000
3,2,1,2020-01-01 01:00:00,NaN,NaN,-36.111209,146.848679,17.693333,19.540000,9.180000,51.133333,8.680000,151.333333
4,2,1,2020-01-01 01:15:00,NaN,NaN,-36.111209,146.848679,17.613333,19.153333,9.053333,51.933333,6.866667,149.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,1,2020-01-02 00:00:00,NaN,NaN,-36.111209,146.848679,17.320000,20.193333,1.606667,29.266667,5.853333,130.733333
96,2,1,2020-01-02 00:15:00,NaN,NaN,-36.111209,146.848679,15.393333,18.793333,3.626667,36.533333,10.360000,183.000000
97,2,1,2020-01-02 00:30:00,NaN,NaN,-36.111209,146.848679,16.600000,20.386667,2.786667,31.200000,11.560000,186.466667
98,2,1,2020-01-02 00:45:00,NaN,NaN,-36.111209,146.848679,17.386667,20.253333,2.820000,31.533333,6.893333,90.333333
99,2,1,2020-01-02 01:00:00,NaN,NaN,-36.111209,146.848679,16.740000,18.800000,2.680000,34.133333,2.600000,59.400000

In [111]:
# Memilih dan menata kolom akhir
final_columns = ['CampusKey', 'SiteKey', 'Timestamp', 'SolarGeneration', 
                 'kWp', 'latitude', 'longitude'] + [col for col in df_final.columns if col not in ['CampusKey', 'SiteKey', 'Timestamp', 'SolarGeneration', 'kWp', 'latitude', 'longitude']]

df_final = df_final[final_columns]
df_final.head(30)

,CampusKey,SiteKey,Timestamp,SolarGeneration,kWp,latitude,longitude,ApparentTemperature,AirTemperature,DewPointTemperature,RelativeHumidity,WindSpeed,WindDirection
0,2,1,2020-01-01 00:15:00,NaN,NaN,-36.111209,146.848679,18.560000,20.300000,9.600000,50.266667,8.680000,152.666667
1,2,1,2020-01-01 00:30:00,NaN,NaN,-36.111209,146.848679,18.146667,19.840000,9.340000,50.666667,7.933333,157.533333
2,2,1,2020-01-01 00:45:00,NaN,NaN,-36.111209,146.848679,18.140000,19.886667,9.486667,51.000000,8.440000,147.600000
3,2,1,2020-01-01 01:00:00,NaN,NaN,-36.111209,146.848679,17.693333,19.540000,9.180000,51.133333,8.680000,151.333333
4,2,1,2020-01-01 01:15:00,NaN,NaN,-36.111209,146.848679,17.613333,19.153333,9.053333,51.933333,6.866667,149.333333
5,2,1,2020-01-01 01:30:00,NaN,NaN,-36.111209,146.848679,16.906667,18.873333,9.153333,53.266667,9.253333,163.466667
6,2,1,2020-01-01 01:45:00,NaN,NaN,-36.111209,146.848679,16.713333,18.460000,8.886667,53.666667,7.666667,167.333333
7,2,1,2020-01-01 02:00:00,NaN,NaN,-36.111209,146.848679,16.953333,18.893333,9.133333,53.133333,9.040000,153.400000
8,2,1,2020-01-01 02:15:00,NaN,NaN,-36.111209,146.848679,17.060000,19.033333,8.940000,52.000000,9.040000,154.933333
9,2,1,2020-01-01 02:30:00,NaN,NaN,-36.111209,146.848679,16.646667,19.040000,8.953333,52.000000,11.080000,146.266667
10,2,1,2020-01-01 02:45:00,NaN,NaN,-36.111209,146.848679,17.006667,18.940000,8.853333,52.000000,8.680000,155.000000
11,2,1,2020-01-01 03:00:00,NaN,NaN,-36.111209,146.848679,16.440000,18.386667,8.660000,53.000000,8.440000,161.600000
12,2,1,2020-01-01 03:15:00,NaN,NaN,-36.111209,146.848679,15.813333,17.680000,8.380000,54.333333,7.600000,183.800000
13,2,1,2020-01-01 03:30:00,NaN,NaN,-36.111209,146.848679,15.346667,17.186667,8.466667,56.466667,7.600000,186.466667
14,2,1,2020-01-01 03:45:00,NaN,NaN,-36.111209,146.848679,15.326667,16.933333,8.593333,57.866667,6.640000,200.933333
15,2,1,2020-01-01 04:00:00,NaN,NaN,-36.111209,146.848679,14.646667,16.693333,8.693333,59.066667,9.040000,200.266667
16,2,1,2020-01-01 04:15:00,NaN,NaN,-36.111209,146.848679,15.673333,16.633333,8.753333,59.600000,3.466667,193.400000
17,2,1,2020-01-01 04:30:00,NaN,NaN,-36.111209,146.848679,14.980000,16.286667,8.706667,60.733333,5.146667,188.000000
18,2,1,2020-01-01 04:45:00,NaN,NaN,-36.111209,146.848679,14.966667,16.240000,8.740000,61.000000,5.026667,182.133333
19,2,1,2020-01-01 05:00:00,NaN,NaN,-36.111209,146.848679,15.533333,15.833333,8.680000,62.466667,0.000000,156.466667
20,2,1,2020-01-01 05:15:00,NaN,NaN,-36.111209,146.848679,15.486667,15.793333,8.926667,63.666667,0.360000,171.200000
21,2,1,2020-01-01 05:30:00,NaN,NaN,-36.111209,146.848679,14.200000,15.853333,9.026667,63.866667,7.453333,167.000000
22,2,1,2020-01-01 05:45:00,NaN,NaN,-36.111209,146.848679,14.093333,15.760000,8.940000,63.800000,7.306667,174.800000
23,2,1,2020-01-01 06:00:00,NaN,NaN,-36.111209,146.848679,13.746667,15.373333,8.980000,65.600000,7.160000,182.400000
24,2,1,2020-01-01 06:15:00,0.135,NaN,-36.111209,146.848679,13.973333,15.246667,9.146667,67.000000,5.746667,172.866667
25,2,1,2020-01-01 06:30:00,0.465,NaN,-36.111209,146.848679,13.800000,15.213333,9.166667,67.266667,6.426667,174.733333
26,2,1,2020-01-01 06:45:00,1.039,NaN,-36.111209,146.848679,13.693333,15.160000,9.260000,68.000000,6.866667,189.600000
27,2,1,2020-01-01 07:00:00,1.673,NaN,-36.111209,146.848679,13.826667,15.546667,9.446667,67.000000,8.293333,179.200000
28,2,1,2020-01-01 07:15:00,2.560,NaN,-36.111209,146.848679,14.360000,15.920000,9.606667,66.000000,7.640000,187.200000
29,2,1,2020-01-01 07:30:00,3.553,NaN,-36.111209,146.848679,14.606667,16.560000,9.713333,63.933333,9.880000,180.800000